html {
    box-sizing:border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#app {
    text-align: center;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
#app {
    padding: 10px;
    margin: 0 auto;
    max-width: 1000px;
}

input[type=number] {
    padding: 10px;
    font-size: inherit;
    width:100%;
}

button {
    padding:10px;
    background: #FC7E2C;
    mix-blend-mode: darken;
    backdrop-filter: blur(4px);
    width: 127px;
    height: 56px;
    border-radius: 15%;
    border-width: 9;
    justify-content: center;
    align-content: space-between;
    padding-inline-end: 5;
    padding-right: 5;
    border-color: #fff;
    font-family: 'sans-serif';
}

label {
    font-family: 'sans-serif';
}

[v-cloak] {
    opacity:0;
}

label {
    width:20%;
    padding:10px 0;
    display:inline-block;
}

.timer {
    font-size: 2em;
    margin: 20px;
}